@page "/edit/{id:int}"
@model ProductAppWebApp.Pages.EditModel
@{
    ViewData["Title"] = "Editar produto";
}

<div class="col-md-4 p-1">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger pb-1"></div>
        <input type="hidden" asp-for="product.ID" />
        <div class="form-group pt-1">
            <label asp-for="product.Name" class="control-label"></label>
            <input asp-for="product.Name" class="form-control" />
            <span asp-validation-for="product.Name" class="text-danger"></span>
        </div>
        <div class="form-group pt-1">
            <label asp-for="product.Stock" class="control-label"></label>
            <input asp-for="product.Stock" class="form-control" />
            <span asp-validation-for="product.Stock" class="text-danger"></span>
        </div>
        <div class="form-group pt-1">
            <label asp-for="product.Price" class="control-label"></label>
            <input asp-for="product.Price" class="form-control" />
            <span asp-validation-for="product.Price" class="text-danger"></span>
        </div>
        <div class="form-group pt-1">
            <input type="submit" value="Salvar" class="btn btn-success" />
        </div>
    </form>
    <div class="pt-1">
        <a asp-page="Index" class="btn btn-primary">Voltar</a>
    </div>
</div>